body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
    padding: 10px;
    background-color: #f9d5e5;
}
nav ul {
    display: grid;

    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    list-style-type: none;
}


nav ul li {
  padding: 5px;
}
nav ul li a {
  font-size: 20px;
  color: grey;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: none;

  color: black;
}

.btn {

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #f9d5e5;
    border: none;
    border-radius: 5%;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.btn:hover {
    background-color: #fffcdc;
    color: black;
}
.input-box {
    padding: 5px;

}

.chatwindow {
    /*background-color: black;*/
    margin: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
              "user logout"
              "users rooms";
}

.chatwindow-child.chatwindow-child-userinfo {
    grid-area: user;
    background-color: white;
    padding: 10px;
    border: 3px solid #f1e3dd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}

.chatwindow-child.chatwindow-child-logout {
    grid-area: logout;
    background-color: white;
    padding: 10px;
    border: 3px solid #f1e3dd;
    display: flex;
    justify-content: flex-end;

}

.chatwindow-child.chatwindow-child-users {
    grid-area: users;
    background-color: white;
    padding: 10px;
    border: 3px solid #f1e3dd;

}

.chatwindow-child.chatwindow-child-rooms {
    grid-area: rooms;
    background-color: white;
    padding: 10px;
    border: 3px solid #f1e3dd;
}

.private-chat-window {
    border: 2px solid #f1e3dd;
}

.send-message {
    display: grid;
    grid-template-rows: auto auto;
}

.send-message > .send-message-child-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.send-message > .send-message-child-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.send-message > .send-message-child-1 > .input-box {
    flex: 0 0 100%;
    /* border: none; /* removes input box border */
}

.send-message > .send-message-child-2 > button {
    flex: 0 0 100%;
}

.input:focus {
    outline:none;
}

.private-chat-window > .private-chat-window-child {
    margin: 5px;
}

.private-chat-window > .private-chat-window-child > .chat-top {
    display: grid;
    grid-template-columns: auto auto;
    background: #fffcdc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #d9a7c7, #fffcdc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #d9a7c7, #fffcdc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5px;
    border: 2px solid #f1e3dd;
}

.private-chat-window > .private-chat-window-child > .chat-top > .chat-top-right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.private-chat-window > .private-chat-window-child > .chat-top > .chat-top-left {
    display: flex;
    align-items: center;
    justify-content: right;
}

.private-chat-window > .private-chat-window-child > .chat-top > .chat-top-left > button {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 30px;
}

.private-chat-window-child > .private-chat-window-child-text > .sender {
  padding: 5px;
  background-color: #82b74b;
  text-align: right;
  border: 1px solid #82b74b;
  border-radius: 5%;
  margin: 5px;
}

.private-chat-window-child > .private-chat-window-child-text > .others {
  background-color: #f1e3dd;
  border: 1px solid #f1e3dd;
  border-radius: 5%;
  margin: 5px;
  padding: 5px;
}

.private-chat-window-child > .private-chat-window-child-text > p {
    margin: 0 auto;
    padding: 3px;
    /* reaks long words */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.private-chat-window-child.scrollable {
    height: 200px;
    overflow-y: scroll;
    border: 2px solid #f1e3dd;

}

@media screen and (min-width: 825px) {
    .signup {
        padding: 20px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .signup-child {
        background-color: #d9a7c7;
        margin: 25px;
        padding: 10px;
        border: 2px solid #f1e3dd;
        border-radius: 5%;

        display: grid;

        justify-content: center;
    }

    .signup-child-box {
        padding: 10px;
        display: grid;

        justify-content: center;
    }
    .signup-child-box .input-box {
        width: 250px;
        height: 25px;
        display: grid;

        justify-content: center;
    }

}

/* tablet */
@media screen and (max-width: 825px) and (min-width: 351px) {
  .signup {
      padding: 20px;
      display: grid;
      grid-template-rows: auto auto;
  }

  .signup-child {
      background-color: #d9a7c7;
      margin: 25px;
      padding: 10px;
      border: 2px solid #f1e3dd;
      border-radius: 5%;

      display: grid;

      justify-content: center;
  }

  .signup-child-box {
      padding: 10px;
      display: grid;

      justify-content: center;
  }
  .signup-child-box .input-box {
      width: 300px;
      height: 25px;
      display: grid;

      justify-content: center;
  }

}

@media screen and (max-width: 350px) {

}
